html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.containers {
    width: 1359px !important;
     padding: 20px;
     margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    align-items: center;
    margin-top: 10px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}


/* /// Header Home page //// */



.home-logo {
    margin-right: 30px;
}
.input-wrap {
    margin-left: 50px;
    border: 1px solid rgb(235, 225, 225);
    opacity: 0.5;
    background: #E3E6EB;
    /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); */
    border-radius: 30px;
}
.input-header {
    padding: 8px;
    border: none;
    background: #E3E6EB;
    width: 670px;
    border-radius: 30px;
    margin-top: 6px;
    margin-right: 5px;
}
.header-lupa {
    margin-left: 15px;
}
.logout{
    margin-left: 50px;
    padding: 8px;
}
.sun-img {
    margin-left: 100px;
}

.nav {
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

.left {
    width: 25% ;
}

.right {
    width: 75%;
}

.list {
    flex-wrap: wrap;
}

.card {
    justify-content: center;
    margin: 10px    ;
}