html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.5;
    background-image: url(../images/library.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

/* /// Header Login //// */

.container {
    margin-top: 150px;
    max-width: 320px;
}

.logo {
    margin-left: 20px;
}

.wrapper {
    border: 2px solid white;
    opacity: 0.7;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}

.username-input {
    border: none;
    background: none;
}

.username-input::placeholder {
    color: white;
    margin-left: 20px;
}

.username-input:focus {
    color: white;
    background-color: transparent;
}

.user-img {
    margin-left: 5px;
}

.password-input {
    border: none;
    background: none;
}

.password-input:focus {
    color: white;
    background-color: transparent;

}

.password-input::placeholder {
    color: white;
    margin-left: 20px;
}

.lock-img {
    margin-left: 5px;
}

.btn {
    font-family: 'Montserrat';
    color: dodgerblue;
    width: 300px;
    margin-top: 20px;
    background-color: white;
    padding: 10px;
}

.form-desc {
    margin-left: 130px;
    font-family: 'Montserrat';
    margin-top: 10px;
}